*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
CODA-AlphaV1/CODA-AlphaV1.xcodeproj/project.xcworkspace/xcuserdata/samretynguon.xcuserdatad/UserInterfaceState.xcuserstate
CODA-AlphaV1/CODA-AlphaV1.xcodeproj/xcuserdata/samretynguon.xcuserdatad/xcschemes/xcschememanagement.plist
CODA-AlphaV2/CODA-AlphaV2.xcodeproj/xcuserdata/samretynguon.xcuserdatad/xcschemes/xcschememanagement.plist
CODA-AlphaV2/CODA-AlphaV2.xcodeproj/project.xcworkspace/xcuserdata/samretynguon.xcuserdatad/UserInterfaceState.xcuserstate
